/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --base-font: 'Mulish', sans-serif;

  --accent-color: #b52184;
  --text-base-color: #312d64;
  --white: #ffffff;
  --linear-gradient: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

body {
  font-family: var(--base-font);
  background: #F9F4FB;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
  margin: 1.7rem auto 0.5rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
  margin-bottom: 4.3rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.6rem;
  color: var(--accent-color);
  font-weight: 900;
  margin-top: 3.3rem;
  margin-bottom: 1.9rem;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--text-base-color);
}

button,
input,
fieldset,
textarea {
  border: none;
  background: none;
  font-family: var(--base-font);
}

/* Hero Section */
#hero {
  padding: 0 3.4rem 9.3rem 3.2rem;
  text-align: center;
}

#hero .hero-text p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 3.5rem;
}

#hero .hero-text .button-down {
  width: 5.8rem;
  height: 10.5rem;
  display: flex;
  border: 4px solid var(--accent-color);
  border-radius: 76rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: filter 300ms;
}

#hero .hero-text .button-down:hover {
  filter: brightness(0.7);
}

#hero .hero-text .button-down img {
  width: 3rem;
}

/* Cards Section */
#cards {
  background: var(--linear-gradient);
  padding: 5.3rem 3.9rem 5.5rem;
  display: grid;
  gap: 4.9rem;
}

#cards .card {
  background: var(--white);
  padding: 2.6rem;
  border-radius: 2rem;
}

#cards .card img {
  width: 8rem;
}

/* Contact Section */
#contact {
  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form .input-wrapper {
  margin-bottom: 2.4rem;
}

#contact form input,
#contact form textarea {
  width: 100%;
  border: 0.15rem solid var(--text-base-color);
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.4rem;
  color: var(--text-base-color);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
}

#contact form input {
  padding-left: 4rem;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  color: var(--text-base-color);
}

#contact form textarea {
  height: 12.6rem;
  resize: none;
}

#contact form button {
  background: var(--linear-gradient);
  padding: 1.6rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--white);
  transition: filter 300ms;
}

#contact form button:hover {
  filter: brightness(0.9);
}

#name {
  background: url(./images/person.svg);
  background-repeat: no-repeat;
  background-position: 1.4rem;
}

#email {
  background: url(./images/email.svg);
  background-repeat: no-repeat;
  background-position: 1.4rem;
}

/* Footer Section */

footer {
  background: var(--linear-gradient);
  padding: 3.2rem 1.6rem;
}

footer p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}